@font-face {
  src: url('fonts/AmstelvarAlpha-VF.ttf');
  font-family:'AmstelvarAlpha';
  font-style: normal;
}

label {
  font: 1rem monospace;
}

.sample {
  font: 2rem 'AmstelvarAlpha', sans-serif;
  font-style: oblique 23deg;
}
.fa {
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
}

a, a:hover {
    text-decoration: none;
    color: yellow;
}
