{% extends "layout.html" %}
{% block content %}
<!--     start banner Area-->
  <!--Section: Design Block-->
			<section class="home-back" class="banner-area" id="home">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-7">
							<h6 style = "position:relative; top:20px;  margin-top: 120px;" class="text-white text-uppercase sample">
								Now you can feel the Energy
							</h6>
							<h1 class="text-white" style = "margin-top: 80px;">
								Start your day with <br>
								a black Coffee
							</h1>
							<a href="{{url_for('menu')}}" class="btn btn-light btn-rounded" style = "margin-bottom: 700px;">Buy Now</a>
						</div>
					</div>
				</div>
			</section>
<!--			 End banner Area-->
<!--  Section: Design Block-->
{% endblock content %}